html,
body {
  margin: 0;
  padding: 0;
}

/* dropdown */

.dropdown {
  border: 10px solid black;
  padding: 10px;
}

.dropdown .dropdown-label {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.dropdown .dropdown-items {}

.dropdown .dropdown-item {}

.hidden {
  display: none;
}

/* editor */

.editor {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  user-select: none;
}

/* program */

.program {
  margin: 0;
  padding: 10px;
  font-size: 12pt;
  font-family: monospace;
}

/* syntax */


.term {
  display: inline-block;
  border-radius: 10px;
}

.term.var {}

.term.lam {}

.term.app {}

.term.let {}

/* selected */

.selected {
  display: inline-block;
}

.selected>.term {
  box-shadow: 0 0 0 2px blue;
}

/* token */

.token {
  display: inline-block;
  white-space: pre;
}

.console {
  margin: 0;
  padding: 10px;
  width: calc(100% - 20px);
  position: fixed;
  bottom: 0;

  font-size: 10pt;
  font-family: monospace;
}

.console-item {
  margin-top: 8px;
  padding: 5px;
  overflow-x: scroll;
  white-space: pre;

  border-radius: 10px;
}

.console-item-info {
  background-color: rgb(255, 199, 94);
}

.console-item-log {
  background-color: tan;
}

.console-item-error {
  background-color: rgb(255, 94, 94);
}