/* html */

html,
body {
  margin: 0;
  padding: 0;
}

/* dropdown */

.dropdown {
  border: 10px solid black;
  padding: 10px;
}

.dropdown .dropdown-label {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.dropdown .dropdown-items {}

.dropdown .dropdown-item {}

.hidden {
  display: none;
}

/* editor */

.editor {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Courier New', Courier, monospace;
  font-size: 12pt;

  user-select: none;
}

/* menu */

.menu {
  margin: 0;
  padding: 6px;

  font-size: 10pt;

  background-color: rgb(21, 33, 58);
  color: white
}

.menu-title,
.menu-item {
  display: inline-block;
  vertical-align: center;
  text-align: left;
}

.menu-title,
.menu-item-title {
  padding: 2px 6px;
  border-radius: 6px;
}

.menu-title {
  /* border-radius: 0; */
  font-weight: bold;
  border-collapse: collapse;

  background-color: rgb(255, 199, 94);
  color: black;
}

.menu-item {
  display: inline-block;
  margin-left: 10px;

  color: black;
}

.menu-item-title {
  display: inline-block;
  cursor: pointer;

  background-color: tan;
}

.menu-item-title:hover,
.menu-item.open>.menu-item-title {
  background-color: rgb(255, 199, 94);
}


.menu-item-options {
  position: absolute;

  border-radius: 6px;
  margin-top: 4px;

  background-color: tan;
  color: black;
}

.menu-item.open>.menu-item-options {
  box-shadow: 0 0 4px 1px black;
}

.menu-item.closed>.menu-item-options {
  display: none;
}

.menu-item-option {
  padding: 2px;
  border-radius: 6px;
  cursor: pointer;
}

.menu-item-option:hover {
  background-color: rgb(255, 199, 94);
}

/* program */

.program {
  display: block;
  margin: 10px 10px;
  padding: 10px;
  font-size: 12pt;

  vertical-align: center;

  /* box-shadow: 2px 2px 10px 2px black; */
  /* box-shadow: 0 0 6px 1px black inset; */

  border-radius: 6px;

}

/* syntax */

.syntax {
  display: inline;
  border-radius: 6px;
}

.term {}

.term-var {
  padding: 0 2px;
  color: rgb(0, 82, 0);
}

.term-lam {}

.term-app {}

.term-let {}

.term-hole {
  /* background-color: rgb(199, 0, 0); */
  /* color: white; */
  font-weight: bold;
  color: red;
  box-shadow: 0 0 0 2px red inset;
  padding: 0 4px;
}

.bind {
  padding: 0 2px;
  color: rgb(0, 82, 0);
}

.bind-empty {}

/* select */


.select {
  display: inline;
}

.selectStart {
  display: inline;
}


.selectEnd {
  display: inline;
}

.select>.syntax {
  box-shadow: 0 0 0 2px blue;
  background-color: rgb(216, 216, 255);
}

.selectStart>.syntax {
  box-shadow: 0 0 0 2px blue;
  background-color: rgb(216, 216, 255);
}

.selectEnd>.syntax {
  box-shadow: 0 0 0 2px blue;
  background-color: white;
}


.select>.term-hole {
  box-shadow: 0 0 0 2px blue, 0 0 0 2px red inset;
}

.selectStart>.term-hole {
  box-shadow: 0 0 0 2px blue, 0 0 0 2px red inset;
}

.selectEnd>.term-hole {
  box-shadow: 0 0 0 2px blue, 0 0 0 2px red inset;
}


/* token */

.token {
  display: inline-block;
  white-space: pre;
}

.token.keyword {
  font-weight: bold;
}

.token.punc {
  /* font-weight: lighter; */
  color: gray;
}

.token.punc.appHandle {}

.token.emoji {
  /* background-color: black; */
  /* font-size: 200%; */
}

/* indentation */

.indentation {
  white-space: pre;
  display: inline-block;
}

/* query */

@keyframes example {
  0% {
    background-color: red
  }

  20% {
    background-color: orange
  }

  40% {
    background-color: yellow
  }

  60% {
    background-color: green
  }

  80% {
    background-color: blue
  }

  100% {
    background-color: purple
  }
}

.query-output {
  display: inline;
  /* background-color: rgb(247, 255, 140); */
  background-color: rgb(255, 199, 94);
  box-shadow: 0 0 0 2px blue;
  border-radius: 6px;

  animation-name: example;
  animation-duration: 10s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.query-output-term-new {
  display: inline;
  font-style: italic;
}

.query-output-term-old {
  display: inline;
  background-color: rgb(172, 172, 172);
  border-radius: 6px;
  margin-left: 10px;
}

.query-output-path {
  display: inline;
}

.query-output-path-term {
  display: inline;
  background-color: white;
  box-shadow: 0 0 0 2px blue;
  border-radius: 6px;
}

/* footer */

.footer {
  margin: 0;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

/* popout */

.popout {
  padding: 10px;
}

.popout-item {
  padding: 10px;
  padding-top: 0;
  width: calc(100% - 20px);
  border-radius: 6px;
  font-size: 12pt;

  box-shadow: 0 0 4px 1px black;
  background-color: tan;
}

.popout-item-label {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: -10px;
  padding: 4px;

  border-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

  font-size: 8pt;

  background-color: rgb(21, 33, 58);
  color: white;
}

.popout-item-clear {
  display: inline-block;
  padding: 0 4px;
  border-radius: 6px;
  margin-left: 10px;

  font-style: normal;
  cursor: pointer;
  color: black;
  background-color: white;
}

.popout-item-clear:hover {
  background-color: rgb(149, 0, 0);
  color: white;
}

/* clipboard */

.clipboard-value {
  display: inline-block;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 0 4px 1px black;
  /* border: 1px solid tan; */
  background-color: rgb(255, 238, 215);
}

.clipboard-clasp {
  display: inline-block;
  width: 10pt;
  height: 10pt;
  vertical-align: middle;
  box-shadow:
    /* 0 0 0 1px rgb(247, 215, 172) inset, */
    0 0 4px 1px black inset;
  border-radius: 6px;
  /* background-color: white; */
  background-color: tan;
}


/* console */

.console {
  margin: 0;
  padding: 10px;
  width: calc(100% - 20px);

  box-shadow: 0 -1px 0 0 tan;
  background-color: rgb(21, 33, 58);

  font-size: 8pt;
}

.console-item {
  display: inline-block;
}

.console-icon {
  display: inline-block;
  vertical-align: top;
  padding: 5px 8px;
  background-color: white;
  border-radius: 6px;
  margin-right: 10px;
  font-weight: bold;
}

.console-icon-info {
  background-color: orange;
}

.console-icon-log {
  background-color: rgb(246, 229, 205);
}

.console-icon-error {
  background-color: rgb(225, 61, 61);
}

.console-item-body {
  display: inline-block;
  padding: 5px;
  max-width: calc(100vw - 20px - 50px);
  overflow-x: scroll;
  white-space: pre;

  border-radius: 6px;
}

.console-item-body-info {
  background-color: rgb(255, 199, 94);
}

.console-item-body-log {
  background-color: tan;
}

.console-item-body-error {
  background-color: rgb(255, 94, 94);
}